.load4 .loader {
  font-size: 12px;
  /* margin: 5em auto; */
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
	left: 50%;
	
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #007AFF, 2em -2em 0 0em #007AFF, 3em 0em 0 -0.5em #007AFF, 2em 2em 0 -0.5em #007AFF, 0em 3em 0 -0.5em #007AFF, -2em 2em 0 -0.5em #007AFF, -3em 0em 0 -0.5em #007AFF, -2em -2em 0 0em #007AFF;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #007AFF, 2em -2em 0 0.2em #007AFF, 3em 0em 0 0em #007AFF, 2em 2em 0 -0.5em #007AFF, 0em 3em 0 -0.5em #007AFF, -2em 2em 0 -0.5em #007AFF, -3em 0em 0 -0.5em #007AFF, -2em -2em 0 -0.5em #007AFF;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #007AFF, 2em -2em 0 0em #007AFF, 3em 0em 0 0.2em #007AFF, 2em 2em 0 0em #007AFF, 0em 3em 0 -0.5em #007AFF, -2em 2em 0 -0.5em #007AFF, -3em 0em 0 -0.5em #007AFF, -2em -2em 0 -0.5em #007AFF;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #007AFF, 2em -2em 0 -0.5em #007AFF, 3em 0em 0 0em #007AFF, 2em 2em 0 0.2em #007AFF, 0em 3em 0 0em #007AFF, -2em 2em 0 -0.5em #007AFF, -3em 0em 0 -0.5em #007AFF, -2em -2em 0 -0.5em #007AFF;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #007AFF, 2em -2em 0 -0.5em #007AFF, 3em 0em 0 -0.5em #007AFF, 2em 2em 0 0em #007AFF, 0em 3em 0 0.2em #007AFF, -2em 2em 0 0em #007AFF, -3em 0em 0 -0.5em #007AFF, -2em -2em 0 -0.5em #007AFF;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #007AFF, 2em -2em 0 -0.5em #007AFF, 3em 0em 0 -0.5em #007AFF, 2em 2em 0 -0.5em #007AFF, 0em 3em 0 0em #007AFF, -2em 2em 0 0.2em #007AFF, -3em 0em 0 0em #007AFF, -2em -2em 0 -0.5em #007AFF;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #007AFF, 2em -2em 0 -0.5em #007AFF, 3em 0em 0 -0.5em #007AFF, 2em 2em 0 -0.5em #007AFF, 0em 3em 0 -0.5em #007AFF, -2em 2em 0 0em #007AFF, -3em 0em 0 0.2em #007AFF, -2em -2em 0 0em #007AFF;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #007AFF, 2em -2em 0 -0.5em #007AFF, 3em 0em 0 -0.5em #007AFF, 2em 2em 0 -0.5em #007AFF, 0em 3em 0 -0.5em #007AFF, -2em 2em 0 0em #007AFF, -3em 0em 0 0em #007AFF, -2em -2em 0 0.2em #007AFF;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #007AFF, 2em -2em 0 0em #007AFF, 3em 0em 0 -0.5em #007AFF, 2em 2em 0 -0.5em #007AFF, 0em 3em 0 -0.5em #007AFF, -2em 2em 0 -0.5em #007AFF, -3em 0em 0 -0.5em #007AFF, -2em -2em 0 0em #007AFF;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #007AFF, 2em -2em 0 0.2em #007AFF, 3em 0em 0 0em #007AFF, 2em 2em 0 -0.5em #007AFF, 0em 3em 0 -0.5em #007AFF, -2em 2em 0 -0.5em #007AFF, -3em 0em 0 -0.5em #007AFF, -2em -2em 0 -0.5em #007AFF;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #007AFF, 2em -2em 0 0em #007AFF, 3em 0em 0 0.2em #007AFF, 2em 2em 0 0em #007AFF, 0em 3em 0 -0.5em #007AFF, -2em 2em 0 -0.5em #007AFF, -3em 0em 0 -0.5em #007AFF, -2em -2em 0 -0.5em #007AFF;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #007AFF, 2em -2em 0 -0.5em #007AFF, 3em 0em 0 0em #007AFF, 2em 2em 0 0.2em #007AFF, 0em 3em 0 0em #007AFF, -2em 2em 0 -0.5em #007AFF, -3em 0em 0 -0.5em #007AFF, -2em -2em 0 -0.5em #007AFF;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #007AFF, 2em -2em 0 -0.5em #007AFF, 3em 0em 0 -0.5em #007AFF, 2em 2em 0 0em #007AFF, 0em 3em 0 0.2em #007AFF, -2em 2em 0 0em #007AFF, -3em 0em 0 -0.5em #007AFF, -2em -2em 0 -0.5em #007AFF;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #007AFF, 2em -2em 0 -0.5em #007AFF, 3em 0em 0 -0.5em #007AFF, 2em 2em 0 -0.5em #007AFF, 0em 3em 0 0em #007AFF, -2em 2em 0 0.2em #007AFF, -3em 0em 0 0em #007AFF, -2em -2em 0 -0.5em #007AFF;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #007AFF, 2em -2em 0 -0.5em #007AFF, 3em 0em 0 -0.5em #007AFF, 2em 2em 0 -0.5em #007AFF, 0em 3em 0 -0.5em #007AFF, -2em 2em 0 0em #007AFF, -3em 0em 0 0.2em #007AFF, -2em -2em 0 0em #007AFF;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #007AFF, 2em -2em 0 -0.5em #007AFF, 3em 0em 0 -0.5em #007AFF, 2em 2em 0 -0.5em #007AFF, 0em 3em 0 -0.5em #007AFF, -2em 2em 0 0em #007AFF, -3em 0em 0 0em #007AFF, -2em -2em 0 0.2em #007AFF;
  }
}
